<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chiupi-pupi Dating Site</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Banner -->
    <div class="banner">
        <div class="banner__content">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Logo Chiupi-pupi">
            <div>
                <p class="site-name">Chiupi-pupi</p>
                <p class="motto">Găsește-ți perechea perfectă astăzi!</p>
            </div>
        </div>
    </div>

    <!-- Linie de delimitare -->
    <div class="divider"></div>



    <!-- Butoane -->
    <div class="buttons-container">
        <a href="/conect" class="action-button">Conectează-te</a>
        <a href="/register" class="action-button">Înregistrează-te</a>
    </div>
    
</body>
</html>
